#student {
  border-radius: 25px;
  /*background: #d0d0d0;*/
  /*padding: 20px;*/
  /*width: 200px;*/
  /*height: 150px;*/
}

#puzzle {
  border-radius: 25px;
  background: #d0d0d0;
  /*padding: 20px;*/
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

h1 {
}

.puzzle-wrapper {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

@media (max-width: 768px) {
  .puzzleSection, .puzzleSection * {
    margin: 0;
  }
}

